$primaryLightColor: #72BFED;
$primaryColor: #4D9FDC;
$primaryDarkColor: #1B74C5;
$primaryDarkerColor: #135AA9;
$primaryTextColor: #f8fafc;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
